@using OgrenciKayitSistemiMvc.Models.EntityFramework <!-- Kütüphane çağırıldı -->
@model List<TBLNOTLAR>
<!-- Liste oluşturulup içine tblkulupler eklendi ve model degiskenine atandı -->
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    @*tablo oluşturuldu*@
    <tr>
        <th>NOT ID</th>
        <th>ÖĞRENCİ</th>
        <th>DERS</th>
        <th>SINAV 1</th>
        <th>SINAV 2</th>
        <th>SINAV 3</th>
        <th>PROJE </th>
        <th>ORTALAMA </th>
        <th>DURUM</th>
        <th>İşlem</th>
    </tr>
    <tbody>
        @*klp degisken oluşturuldu ve model degiskenini döngü ile gezip tablo satırlarına yazdırdı*@
        @foreach (var not in Model)
        {
        <tr>
            <td>@not.NOTID</td>
            <td>@not.OGRID</td>
            <td>@not.DERSID</td>
            <td>@not.SINAV1</td>
            <td>@not.SINAV2</td>
            <td>@not.SINAV3</td>
            <td>@not.PROJE</td>
            <td>@not.ORTALAMA</td>
            <td>@not.DURUM</td>
            <td><a href="/Notlar/NotGetir/@not.NOTID" class="btn btn-warning">Güncelle</a></td>


        </tr>
        }
    </tbody>
</table>
<a href="/Notlar/YeniSinav" class="btn btn-primary">Yeni Sınav Ekle</a>
